@import url(css/normalize.css);
@import url(css/media.css);
.container {
  width: 960px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

@media screen and (max-width: 767px) {
  .container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; } }

@media screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 640px; } }

@media screen and (min-width: 960px) {
  .container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 960px; } }

.clearfix:after {
  content: " ";
  clear: both;
  display: table; }

* {
  box-sizing: border-box; }

html {
  font-size: 100%; }

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #222; }

/*  +------------------------------------------------------------+
	|                      VARIABLES                             |
	+------------------------------------------------------------+ */
/*  +------------------------------------------------------------+
	|                  EXTENTDS CLASSES                          |
	+------------------------------------------------------------+ */
.background-pattern, .top-section, .advantage-col__icon, .contacts__info {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.send-form__input, .send-form__input-submit {
  display: block;
  padding: 12px 5px;
  width: 85%; }

.send-form__input-submit {
  background-color: #e5f920;
  border: none;
  font-size: 1.3rem;
  padding: 1em 0;
  height: auto;
  text-transform: uppercase;
  color: #4c4f34;
  cursor: pointer; }

/* +------------------------------------------------------------+
   |                   TEMPLATE STYLES                          |
   +------------------------------------------------------------+ */
.top-section {
  background-image: url(img/belarus-001.jpg);
  padding-top: 6%;
  padding-bottom: 3%; }

.top-section-block {
  background-color: #303052;
  opacity: .95;
  border-radius: 50%;
  position: relative;
  display: block;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 73%;
  margin: 0 auto;
  padding: 2% 0 10%; }
  .top-section-block-top__title h1 {
    color: #fff;
    font-size: 1.75rem;
    margin: 5px 0; }
  .top-section-block-top__undertitle {
    color: #e5f920;
    font-size: 1.07rem; }

.send-form__input {
  border-radius: 7px;
  margin-bottom: 6px; }

.top-section-block-bottom__send-form__input {
  height: 44px;
  display: block;
  width: 100%; }

.top-section-block-bottom__send-form {
  width: 51%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px; }

.top-section-block-bottom__send-form__input-submit {
  background-color: #e5f920;
  border: none;
  font-size: 1.3rem;
  padding: 1em 0;
  height: auto;
  text-transform: uppercase;
  color: #4c4f34;
  cursor: pointer;
  transition: .3s; }

.top-section-block-bottom__send-form__input-submit:hover {
  background-color: #b5c705; }

.services {
  background-color: #bdbbbd;
  padding: 15px; }

.content-card {
  background-color: #eceeec;
  background-size: 90%;
  background-repeat: no-repeat;
  margin-bottom: 20px; }
  .content-card-left {
    text-align: center;
    padding: 15px 5px; }
    @media screen {
      .content-card-left {
        float: left;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px; } }
    @media screen and (min-width: 960px) {
      .content-card-left {
        float: left;
        width: 40%;
        padding-left: 15px;
        padding-right: 15px; } }
    @media screen and (min-width: 960px) {
      .content-card-left {
        float: left;
        width: 40%;
        padding-left: 15px;
        padding-right: 15px; } }
  .content-card-left__title {
    color: #5e415a;
    font-size: 1.5rem;
    text-transform: uppercase; }
  .content-card-list__item {
    padding-bottom: 1rem; }
  .content-card-right {
    font-size: .8rem;
    line-height: 1.5em;
    padding-left: 0; }
    @media screen {
      .content-card-right {
        float: left;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px; } }
    @media screen and (min-width: 960px) {
      .content-card-right {
        float: left;
        width: 60%;
        padding-left: 15px;
        padding-right: 15px; } }
    @media screen and (min-width: 960px) {
      .content-card-right {
        float: left;
        width: 60%;
        padding-left: 15px;
        padding-right: 15px; } }

.form-section {
  background-color: #303052; }

.form-section__title {
  color: #fff;
  font-size: 2.25rem;
  text-transform: uppercase; }

.form-section-left, .form-section-right {
  padding-top: 60px;
  padding-bottom: 60px; }
  @media screen {
    .form-section-left, .form-section-right {
      float: left;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px; } }
  @media screen and (min-width: 768px) and (max-width: 959px) {
    .form-section-left, .form-section-right {
      float: left;
      width: 50%;
      padding-left: 15px;
      padding-right: 15px; } }
  @media screen and (min-width: 960px) {
    .form-section-left, .form-section-right {
      float: left;
      width: 50%;
      padding-left: 15px;
      padding-right: 15px; } }

.form-section-right-form__submit {
  padding: 13.5px 0;
  border-radius: 5px;
  transition: .3s; }
  .form-section-right-form__submit:hover {
    background-color: #b5c705; }

.section-title {
  font-size: 2.25rem;
  text-transform: uppercase;
  color: #5e415a;
  text-align: center;
  margin-top: 0; }

.advantage {
  background-color: #bdbbbd;
  padding: 20px 0; }

@media (min-width: 960px) {
  .advantage-col {
    width: 25%;
    float: left;
    padding: 0 10px; } }

.advantage-col__title {
  color: #5e415a;
  font-size: 1.125rem;
  text-align: center;
  padding: 25px 0;
  font-weight: 600; }

.advantage-col__icon {
  text-align: center; }

.advantage-col__text p {
  font-size: 0.85rem;
  text-align: center; }

.advantage-col:nth-of-type(3n) p {
  margin-top: 0; }

.advantage-col__icon {
  background-image: url(img/11_120.png);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 166px;
  height: 166px; }

.advantage-col__icon img {
  padding: 37px; }

.section-title-container {
  background-color: #5e415a; }

.contacts {
  background-color: #bdbbbd;
  padding: 25px 0; }

.contacts__title {
  color: #fff;
  padding: 30px 0;
  margin-bottom: 10px; }

.contacts__info {
  background-image: url(img/marker.png);
  background-size: 25px 37px;
  background-position: 5% top;
  padding: 0 13%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.contacts__info-string {
  padding: 5px 0 15px; }

.form-section--color-first {
  background-color: #5e415a; }

.margin_10 {
  margin-top: 10px; }

.contacts-table {
  margin-top: 10px; }

.map {
  padding-left: 2%; }

.recvizits {
  background-color: #bdbbbd;
  padding: 10px 15px 20px; }

.recvizits__title {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 400; }

.recvizits p, .recvizits b {
  margin-bottom: 0px;
  display: block;
  line-height: 16px;
  font-size: .75rem; }

@media (max-width: 959px) {
  .top-section-block {
    width: 95%; }
  .send-form__input, .send-form__input-submit {
    width: 100%; }
  .map > ymaps:first-child {
    width: 100% !important; } }

@media (max-width: 767px) {
  .form-section-left {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center; }
  .form-section-right {
    padding-top: 0; } }

@media (max-width: 600px) {
  .top-section-block {
    border-radius: 0; }
  .top-section-block-bottom__send-form {
    width: 80%; } }

@media (min-width: 960px) {
  .content-card {
    background-image: url(img/back_card.png);
    background-size: 53%;
    background-position-y: 18px;
    min-height: 260px; }
  .content-card-left__title {
    margin-top: 0; }
  .content-card-left__icon {
    text-align: left;
    padding-left: 55px;
    padding-top: 7%; } }
